.about_page {
  min-height: 100vh;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_section {
  text-align: center;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about_section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/materials/1.png");
  opacity: 0.2;
  z-index: -1;
}

.company_info_container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.company_info_content {
  flex: 3;
  text-align: start;
  font-size: 1.25rem;
  line-height: 1.5;
}

.company_info_content_title {
  margin-bottom: 1rem;
}

.company_photo_container {
  flex: 1;
  overflow: hidden;
}

.company_photo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.company_info_container:nth-child(2) .company_info_content {
  order: 1;
}
